<div class="contact-info">
    <div class="contact-info__logo">
        <img src="assets/img/svg/hokey-federation-color.svg" alt="Федерация Хоккея России" class="svg-inject-me">
    </div>
    <h4 class="contact-info__title">Пресс-центр<br> Федерации Хоккея России</h4>

    <div class="contact-info__content">
        <div class="contact-info__mail">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a class="" href="mailto:media@fhr.ru">
                media@fhr.ru
            </a>
        </div>

        <div class="contact-info__phone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a class="" href="tel:84956477111">
                +7 (495) 647-71-11
            </a>
        </div>

        <div class="contact-info__address">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>
                115280, Россия, Москва,<br>
                Автозаводская ул., д. 21 к. 1
            </span>
        </div>
    </div>
</div>
