$color-brown: #c5ad8a;
$color-brown-dark: #2d292a;
$color-green: #00664b;
$bg-color-header: #221e1f;
$bg-color-footer: $bg-color-header;

$shadow-round: 0px 22px 43px 0px rgba(#818694, 0.21);

$screen-xlarge: 1200px;
$screen-xxlarge: 1440px;
