<div class="main-award-regulations" id="scroll-regulations">
    <div class="wrapp main-award-regulations__wrapp">
        <h3 class="main-award-regulations__title">Регламент премии</h3>
        <button data-src="#award-regulations" class="btn-brown-style main-award-regulations__button">
            Ознакомиться
            <span class="main-award-regulations__button-icon">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
        </button>
    </div>
</div>
{{> award-regulations}}
