<div class="main-choice">
    <h2 class="main-choice__title">Выбери <span>самого ценного игрока</span> сборной России в сезоне 2017/18</h2>
    <div class="main-choice__pick">
        <div class="main-choice__items">
            <div class="main-choice__item">
                {{> round-info-block}}
            </div>
            <div class="main-choice__item">
                {{> round-info-block}}
            </div>
            <div class="main-choice__item">
                {{> round-info-block}}
            </div>
        </div>
        <button type="button" class="main-choice__button">
            Проголосовать
            <i class="fa fa-vk" aria-hidden="true"></i>
        </button>
    </div>
</div>
