<div class="main-media" id="scroll-media">
    <div class="wrapp main-media__wrapp">
        <div class="main-media__decor main-media__decor--top">
            <img src="assets/img/svg/round-decor-small.svg" alt="" class="svg-inject-me">
            <img src="assets/img/svg/round-decor-big.svg" alt="" class="svg-inject-me">
        </div>
        <div class="main-media__decor main-media__decor--bottom">
            <img src="assets/img/svg/round-decor-small.svg" alt="" class="svg-inject-me">
            <img src="assets/img/svg/round-decor-big.svg" alt="" class="svg-inject-me">
        </div>

        <h3 class="title title--brown main-media__title">
            Медиа
            <div class="title__line">
                <img src="assets/img/svg/title-line.svg" alt="" class="svg-inject-me">
            </div>
        </h3>
        <div class="main-media__content">
            {{> main-media-video}}
            {{> main-media-photo}}
        </div>
    </div>
</div>
