<div class="main-partners" id="scroll-partners">
    <div class="wrapp main-partners__wrapp">
        <h3 class="title title--brown main-partners__title">
            Партнеры
            <div class="title__line">
                <img src="assets/img/svg/title-line.svg" alt="" class="svg-inject-me">
            </div>
        </h3>
        <div class="main-partners__content">
            <a href="#" target="_blank" class="main-partners__link">
                <img src="assets/img/partners/main-rate.png" alt="">
            </a>
            <a href="#" target="_blank" class="main-partners__link">
                <img src="assets/img/partners/hockey.png" alt="">
            </a>
            <a href="#" target="_blank" class="main-partners__link">
                <img src="assets/img/partners/liga.png" alt="">
            </a>
        </div>
    </div>
</div>
