<div class="main-news" id="scroll-news">
    <div class="wrapp main-news__wrapp">
        <h3 class="title title--green main-news__title">
            Новости
            <div class="title__line">
                <img src="assets/img/svg/title-line.svg" alt="" class="svg-inject-me">
            </div>
        </h3>
        <div class="main-news__content">
            {{> main-news-list}}
            {{> main-news-last-news}}
        </div>
        <div class="main-news__footer">
            <button class="btn-brown-style main-news__btn">
                Читать все новости
                <span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    </div>
</div>
