<div class="main-nominees" id="scroll-nominees">
    <div class="wrapp main-nominees__wrapp">
        <div class="main-nominees__stars">
            <img src="assets/img/svg/star.svg" alt="star" class="main-nominees__star main-nominees__star--first svg-inject-me">
            <img src="assets/img/svg/star.svg" alt="star" class="main-nominees__star main-nominees__star--second svg-inject-me">
        </div>
        <h3 class="title title--brown main-nominees__title">
            Номинанты
            <div class="title__line">
                <img src="assets/img/svg/title-line.svg" alt="" class="svg-inject-me">
            </div>
        </h3>
        <h4 class="main-nominees__icon-title main-nominees__icon-title--player">
            <span></span>
            Самый ценный игрок
        </h3>
        <div class="main-nominees__items">
            {{> nominees-block}}
            {{> nominees-block}}
            {{> nominees-block}}
        </div>

        <h4 class="main-nominees__icon-title main-nominees__icon-title--gent">
            <span></span>
            Джентльмен года
        </h3>
        <div class="main-nominees__items">
            {{> nominees-block}}
            {{> nominees-block}}
            {{> nominees-block}}
        </div>

        <h4 class="main-nominees__icon-title main-nominees__icon-title--junior">
            <span></span>
            Лучший новичок
        </h3>
        <div class="main-nominees__items">
            {{> nominees-block}}
            {{> nominees-block}}
            {{> nominees-block}}
        </div>
    </div>
</div>
