<div class="main-contact" id="scroll-contacts">
    <div class="wrapp main-contact__wrapp">
        <h3 class="title title--green main-contact__title">
            Контакты
            <div class="title__line">
                <img src="assets/img/svg/title-line.svg" alt="" class="svg-inject-me">
            </div>
        </h3>
        <div class="main-contact__content">
            <div class="main-contact__left">
                {{> contact-info}}
            </div>
            <div class="main-contact__right">
                {{> contact-feedback-form}}
            </div>
        </div>
    </div>
</div>
