<header class="header">
    <div class="header__left">
        <img src="assets/img/svg/hokey-federation-color.svg" alt="Федерация Хоккея России" class="svg-inject-me">
    </div>
    <div class="header__wrapp">
        <div class="wrapp">
            <div class="header__logo">
                <a href="/">
                    <img src="assets/img/site-logo.png" alt="Герои хоккея">
                </a>
            </div>
            <div class="header__menu">
                <nav class="header-menu">
                    <ul class="vertical medium-horizontal menu header-menu__list">
                        <li class="header-menu__item"><a href="#scroll-about" class="header-menu__link">О премии</a></li>
                        <li class="header-menu__item"><a href="#scroll-regulations" class="header-menu__link">Регламент</a></li>
                        <li class="header-menu__item"><a href="#scroll-jury" class="header-menu__link">Жюри</a></li>
                        <li class="header-menu__item"><a href="#scroll-nomination" class="header-menu__link">Номинации</a></li>
                        <li class="header-menu__item"><a href="#scroll-nominees" class="header-menu__link">Лауреаты</a></li>
                        <li class="header-menu__item"><a href="#scroll-news" class="header-menu__link">Новости</a></li>
                        <li class="header-menu__item"><a href="#scroll-media" class="header-menu__link">Медия</a></li>
                        <li class="header-menu__item"><a href="#scroll-contacts" class="header-menu__link">Контакты</a></li>
                        <li class="header-menu__item"><a href="#scroll-partners" class="header-menu__link">Партнеры</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="header__right">
        <img src="assets/img/svg/ligastavok.svg" alt="Лига ставок" class="svg-inject-me">
    </div>
</header>
