<div class="footer-socials">
    <a href="https://vk.com/fhr" target="_blank">
        <i class="fa fa-vk" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/Russiahockey/" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/russiahockey" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <!-- <a href="https://ok.ru/russiahockey" target="_blank">
        <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
    </a> -->
    <a href="https://www.youtube.com/c/RussiaHockey" target="_blank">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/russiahockey/" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
</div>