.main-nominees {
    padding-bottom: 112px;
    padding-top: 60px;
    width: 100%;
    overflow: hidden;

    &__wrapp {
        position: relative;
    }

    &__title {
        color: $color-brown-dark;
        text-align: center;
        margin-bottom: 30px;
    }

    &__icon-title {
        font-size: 40px;
        color: $color-brown;
        font-weight: bold;
        text-align: center;
        margin: 25px 0 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 100%, 100%;
            display: inline-block;
            position: relative;
            margin-right: 15px;
            top: 5px;
            background-image: url('../img/sprite/nomination.png');
        }

        &--player {
            span {
                @include responsiveSprite(242, 100, 98, 99, 402, 316);
                width: 52px;
                height: 54px;
            }
        }

        &--gent {
            margin: 54px 0 28px 0;

            span {
                @include responsiveSprite(359, 113, 41, 99, 402, 316);
                width: 25px;
                height: 56px;
            }
        }

        &--junior {
            margin: 48px 0 27px 0;

            span {
                @include responsiveSprite(242, 0, 112, 95, 402, 316);
                width: 55px;
                height: 48px;
            }
        }
    }

    &__items {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .nominees-block {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__stars {
        fill: #fbfbfc;
    }

    &__star {
        position: absolute;
        top: 0;

        &--first {
            width: 294px;
            height: 279px;
            right: -136px;
            top: 5px;
        }

        &--second {
            width: 485px;
            height: 460px;
            left: -200px;
            top: 220px;
        }

    }
}
