<div class="main-news-list">
    <div class="main-news-list__items">
        <div class="main-news-list__item">
            <div class="main-news-list__photo" style="background-image: url(assets/img/trash/news.jpg);"></div>
            <div class="main-news-list__info">
                <div class="main-news-list__date">02.10</div>
                <a href="#" class="main-news-list__title">
                    «Нью-Джерси» в овертайме победил «Берн» в выставочном матче
                </a>
            </div>
        </div>
        <div class="main-news-list__item">
            <div class="main-news-list__photo" style="background-image: url(assets/img/trash/news.jpg);"></div>
            <div class="main-news-list__info">
                <div class="main-news-list__date">29.09</div>
                <a href="#" class="main-news-list__title">Когда лом ЦСКА сильнее кисти «Салавата». Это вредно для всей
                    КХЛ</a>
            </div>
        </div>
        <div class="main-news-list__item">
            <div class="main-news-list__photo" style="background-image: url(assets/img/trash/news.jpg);"></div>
            <div class="main-news-list__info">
                <div class="main-news-list__date">29.09</div>
                <a href="#" class="main-news-list__title">От $ 650 тыс. до $ 9,54 млн. Все зарплаты россиян в НХЛ в
                    сезоне-2018/19</a>
            </div>
        </div>
        <div class="main-news-list__item">
            <div class="main-news-list__photo" style="background-image: url(assets/img/trash/news.jpg);"></div>
            <div class="main-news-list__info">
                <div class="main-news-list__date">27.09</div>
                <a href="#" class="main-news-list__title">Чемпионат мира вернётся в «чёрный» Питер. Главное не звать 14
                    энхаэловцев</a>
            </div>
        </div>
    </div>
</div>
