<div class="news-detail">
    <div class="news-detail__date">29 Октября 2018</div>
    <div class="news-detail__content">
        <img src="assets/img/trash/news.jpg" style="float:left; margin: 0 20px 20px 0;">
        <p>
            Общероссийская общественная организация «Федерация хоккея России» (далее – ФХР) и официальный партнёр ФХР и национальной сборной России по хоккею Букмекерская компания «Лига Ставок» (ООО «ПМБК») учреждают премию «Герои Хоккея» (далее – Премия), которая определяет членов национальной сборной России по хоккею, продемонстрировавших в отчетном спортивном сезоне лучшие аспекты и показатели по соответствующей номинации в матчах с участием национальной сборной России по хоккею.
        </p>
        <h4>Очки должны были прийти раньше</h4>
        <p>
            В Подольске «Сибирь» завоевала первые два очка, но результативными баллами новосибирцы могли разжиться намного раньше. Например, в первом же матче сезона с «Северсталью», когда решающую шайбу они пропустили в самой концовке. Как минимум на овертайм сибиряки могли рассчитывать в домашних матчах с «Нефтехимиком» и «Торпедо».
            Даже в Казани, где аутсайдера от действующего чемпиона было почти не отличить, игроки «Сибири» заслуживали хотя бы одного очка. Где-то их подводили удаления, где-то ошибки вратарей, а порой соперники отличались убийственной реализацией моментов. Когда-то несчастным новосибирцам должно было повести. Но помимо везения в этот день они проявили самоотдачу и в целом сыграли очень грамотно.
        </p>

        <h4>Очки должны были прийти раньше</h4>
        <p>
            Показательно, что первую победу «Сибирь» одержала с одним-единственным легионером. Юкка Пелтола продолжает залечивать перелом руки. Кори Эммертон, на счету которого 0 очков в 11 играх, провалился в Минске и остался вне заявки. В запасе оказался и Дэнни Тейлор, который пока ничем не лучше Алексея Красикова. Ну а Юлиусу Юнттиле до сих пор не нашли замену. Вот и получается, что историческая для новосибирцев победа была добыта почти русским составом. Исключением стал Шарль Бертран – единственное светлое пятно в последнем иностранном призыве Кирилла Фастовского. Но он и в победном матче умудрился отличиться со знаком «минус». Открыл счёт «Витязь» в большинстве, как раз после удаления француза.
        </p>
    </div>
</div>
