<div class="main-media-photo">
    <div class="main-media-photo__left">
        {{> main-media-info data=mediaInfo.photo}}
        <a href="#" class="main-media-photo__picture" data-fancybox data-src="#slider-media--photo" style="background-image: url(assets/img/trash/video1.jpg)"></a>
    </div>
    <div class="main-media-photo__right">
        <a href="#" class="main-media-photo__top main-media-photo__picture" data-fancybox data-src="#slider-media--photo" style="background-image: url(assets/img/trash/video.jpg)"></a>
        <div class="main-media-photo__bottom">
            <a href="#" class="main-media-photo__picture" data-fancybox data-src="#slider-media--photo" style="background-image: url(assets/img/trash/video.jpg)"></a>
            <a href="#" class="main-media-photo__picture" data-fancybox data-src="#slider-media--photo" style="background-image: url(assets/img/trash/video2.jpg)"></a>
        </div>
    </div>
</div>
{{> slider-media type='photo' title='Фото'}}
