<div class="award-regulations" id="award-regulations">
    <h5 class="title title--green award-regulations__title">
        Регламент премии «Герои Хоккея»
        <div class="title__line">
            <img src="assets/img/svg/title-line.svg" alt="" class="svg-inject-me">
        </div>
    </h5>
    <div class="award-regulations__content">
        <h6>О Премии</h6>
        <p>
            Общероссийская общественная организация «Федерация хоккея России» (далее – ФХР) и официальный партнёр ФХР и национальной
            сборной России по хоккею Букмекерская компания «Лига Ставок» (ООО «ПМБК») учреждают премию «Герои Хоккея» (далее – Премия), которая определяет членов национальной сборной России по хоккею, продемонстрировавших в отчетном спортивном сезоне лучшие
            аспекты и показатели по соответствующей номинации в матчах с участием национальной сборной России по хоккею.
        </p>

        <h6>Цель проведения Премии</h6>
        <p>
            Проведение Премии осуществляется в целях пропаганды честной спортивной борьбы, популяризации и развития хоккея в Российской Федерации, повышения зрелищности матчей с участием национальной сборной России по хоккею и стимулирования профессиональной деятельности спортсменов, тренеров и специалистов в области хоккея.
        </p>

        <h6>Номинации Премии</h6>
        <p>Премия включает следующие независимые номинации: </p>

        <p>
            <b class="color-green">Самый ценный игрок</b><br>
            награждается игрок, который внёс наибольший вклад в успехи национальной сборной России по хоккею
        </p>
        <p>
            <b class="color-green">Джентльмен года</b><br>
            награждается игрок, продемонстрировавший образец честной спортивной борьбы и джентльменского поведения
            в сочетании с высоким игровым мастерством.
        </p>
        <p>
            <b class="color-green">Лучший новичок</b><br>
            награждается игрок, наиболее ярко проявивший себя среди тех, кто провел первый сезон в составе национальной сборной России по хоккею.
        </p>
        <p>
            <b class="color-green">Лучший бомбардир</b><br>
            награждается игрок, набравший наибольшее количество очков по системе гол+пас в матчах за национальной сборной России по хоккею.
        </p>
        <p>
            <b class="color-green">Лучший снайпер</b><br>
            награждается игрок, забросивший наибольшее число шайб среди всех игроков в матчах за национальной сборной России по хоккею.
        </p>
        <p>
            <b class="color-green">Незаметный герой</b><br>
            награждается член национальной сборной России по хоккею, не относящийся к игрокам и тренерскому штабу, внесший наибольший вклад в деятельность команды по мнению игроков и тренерского штаба национальной сборной России по хоккею.
        </p>
        <p>
            <b class="color-green">Лидер команды</b><br>
            награждается член национальной сборной России по хоккею, который является примером для партнеров (на льду и вне его) и который внес наибольший вклад в успехи команды по мнению всех членов национальной сборной России по хоккею.
        </p>
    </div>
    <button data-fancybox-close class="award-regulations__close"></button>
</div>
