<div class="nominees-block">
    <div class="nominees-block__star">
        <img src="assets/img/svg/star.svg" alt="star" class="svg-inject-me">
    </div>
    <div class="nominees-block__top">
        <div class="nominees-block__photo">
            <img src="assets/img/trash/photo.jpg" alt="Дацюк Павел">
        </div>
        <div class="nominees-block__info">
            <div class="nominees-block__name">Дацюк Павел</div>
            <div class="nominees-block__type">Центральный нападающий</div>
        </div>
    </div>
    <div class="nominees-block__content">
        Лауреаты Премии в номинациях
        <b>«Лучший бомбардир»</b>, <b>«Лучший снайпер»</b> определяются на
        основании индивидуальных статистических игровых показателей
        игроков.
    </div>
</div>
