<div class="nomination-block">
    <div class="nomination-block__top">
        <div class="nomination-block__icon nomination-block__icon--{{data.name}}"></div>
        <div class="nomination-block__title">{{data.title}}</div>
        <div class="nomination-block__desc">
            {{data.desc}}
        </div>
    </div>
    <div class="nomination-block__footer">
        <div class="nomination-block__info">
            <span class="nomination-block__info-icon">
                <i class="fa fa-info" aria-hidden="true"></i>
            </span>

            <span class="nomination-block__info-text">
                {{data.info}}
            </span>
        </div>
    </div>
</div>
