<nav aria-label="Pagination">
    <ul class="pagination text-center">
        <li class="pagination__previous disabled">
            <i class="fa fa-angle-left"></i>
        </li>
        <li class="pagination__current">1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li class="pagination__next">
            <a href="#">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</nav>
