<div class="quote-block">
    <div class="quote-block__top">
        <div class="quote-block__photo">
            <img src="assets/img/trash/photo.jpg" alt="Иван Иванов">
        </div>
        <div class="quote-block__info">
            <div class="quote-block__name">Иван Иванов</div>
            <div class="quote-block__type">Экс футболист</div>
        </div>
    </div>
    <div class="quote-block__quote">
        Награждается член национальной сборной России по хоккею, который является примером для партнеров (на льду и вне его) и который внес наибольший вклад в успехи команды по мнению всех членов национальной сборной России по хоккею.
    </div>
</div>
